html {
    font-size: 16px;
}

body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-attachment:fixed;
}

.container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas:
    'header header'
    'img_sv1 serv1'
    'img_sv2 serv2'
    'img_sv3 serv3'
    'img_sv4 serv4'
    'img_sv5 serv5'
    'footer footer';
    padding: 2em;
    grid-gap: 1em;
}

.color-font {
    color: lightgray;
}
.color-font:hover {
    color: #5d5e9d;
}

.titulo {
    grid-area: header;
    color: rgb(51, 51, 51);
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.80) 100%);
    border-radius: 5px;
    padding: .2em;
}

.rodape {
    grid-area: footer;
}

.text-bg-custom {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.80) 100%);
}

.service1 {
    grid-area: serv1;
}

.service2 {
    grid-area: serv2;
}

.service3 {
    grid-area: serv3;
}

.service4 {
    grid-area: serv4;
}

.service5 {
    grid-area: serv5;
}

.image {
    border:solid rgba(100, 100, 100, 0.80) 3px;
}

.image-serv1 {
    grid-area: img_sv1;
    border-radius: 7px;
    background-image: url('img/alvenaria.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
}

.image-serv2 {
    grid-area: img_sv2;
    border-radius: 7px;
    background-image: url('img/pintura.jpg');
    background-size: cover;
}

.image-serv3 {
    grid-area: img_sv3;
    border-radius: 7px;
    background-image: url('img/eletrica.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
}

.image-serv4 {
    grid-area: img_sv4;
    border-radius: 7px;
    background-image: url('img/hidraulica.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
}

.image-serv5 {
    grid-area: img_sv5;
    border-radius: 7px;
    background-image: url('img/acabamento.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
} 