<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <form th:action="@{/clientes/(form)}" method="POST" th:object="${cliente}">
            <input type="hidden" th:field="${cliente.id}">
            <div class="form-group">
                <label for="txtnome">Nome:</label>
                <input type="text" class="form-control" id="txtnome" th:field="*{nome}">
                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="txtendereco">Endereço:</label>
                <input type="text" class="form-control" id="txtendereco" th:field="${cliente.endereco}">
            </div>
            <div class="form-group">
                <label for="txtsexo">Sexo:</label>
                <input type="text" class="form-control" id="txtsexo" th:field="*{sexo}">
                <p th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" class="alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="datanascimento">Data de nascimento:</label>
                <input type="date" class="form-control" id="datanascimento" th:field="*{dataNascimento}">
                <p th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade:</label>
                <select class="form-select" id="cidade" th:field="*{cidadeResidencia}">
                    <option value="0">Selecione uma opção</option>
                    <option th:each="cidade : ${listaCidades}" th:value="${cidade.id}" th:text="${cidade.nome}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>