.container {
    display: grid;
    grid-template:
    'menu'
    'corpo'
    'rodape';
    border: 1px solid;
}

.menu {
    grid-area: menu;
}

.corpo {
    grid-area: corpo;
}

.rodape {
    grid-area: rodape;
}
