<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <form th:action="@{/vendas/(form)}" method="POST" th:object="${venda}">
            <input type="hidden" th:field="${venda.id}">
            <div class="form-group">
                <label for="data">Data:</label>
                <input type="date" class="form-control" id="data" th:field="${venda.data}">
            </div>
            <div class="form-group">
                <label for="txtcomprador">Comprador:</label>
                <select class="form-select" id="comprador" th:field="${venda.comprador}">
                    <option th:each="cliente : ${listaClientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                </select>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Itens de Venda Vinculados
                    </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : *{colItens}">
                                <td th:text="${item.produto?.nome}"></td>
                                <td th:text="${item.quantidade}"></td>
                                <td th:text="${item.valorVenda}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>
