<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <a href="/vendas/novo" class="btn btn-primary">Novo</a>
            <table class="table" id="tabvendas">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Comprador</th>
                        <!-- <th>Lista de Itens</th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="venda : ${listaVendas}">
                        <td th:text="${venda.id}"></td>
                        <td th:text="${#dates.format(venda.data, 'dd/MM/yyyy')}"></td>
                        <td th:text="${venda.comprador?.nome}"></td>
                        <!-- <td th:text="${venda.colItens}"></td> -->
                        <!-- o ? após o objeto transforma o objeto em opcional -->
                        <!-- <td>
                            <a class="btn btn-primary" th:href="@{/vendas/editar/{id}(id=${venda.id})}">Alterar</a>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </main>

        <footer th:include="layout :: footer"></footer>
    </body>
</html>
