<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>

<head th:include="layout :: head"></head>
    
<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cidade : ${listaCidades}">
                    <td th:text="${cidade.id}"></td>
                    <td th:text="${cidade.nome}"></td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>
